<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="this.navCtrl.back()">
              <ion-icon slot="icon-only" color="primary" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title color="primary">Mentions légales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h3>1- Lorem ipsum dolor sit amet</h3>
    <h3>2- Consectetur adipisicing elit</h3>
    <h3>3- Dolores sapiente saepe perspiciatis</h3>
    <h3>4- Corrupti voluptatum ducimus ad</h3>
    <h3>5- Et placeat, quod inventore saepe odit</h3>
    <h3>6- Soluta aliquam odio, cupiditate sequi</h3>
    <h3>7- Voluptatem esse dignissimos</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem numquam voluptatem, dicta beatae eaque ipsam officia
        assumenda delectus fugiat autem explicabo, molestias reiciendis consectetur facilis perspiciatis fuga maxime
        blanditiis! Sapiente?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem numquam voluptatem, dicta beatae eaque ipsam officia
        assumenda delectus fugiat autem explicabo, molestias reiciendis consectetur facilis perspiciatis fuga maxime
        blanditiis! Sapiente?</p>

</ion-content>
