  <ion-toolbar>
      <img src="assets/img/logo.png" id="logo" alt="">
  </ion-toolbar>


<ion-content>
  <ion-item>
    <ion-icon name="md-mail"></ion-icon>
    <ion-label>Adresse mail</ion-label>
    <ion-input [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
      <ion-icon name="md-lock"></ion-icon>
    <ion-label>Mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <p id="password"><a href="/forgotten_password">Mot de passe oublié ?</a></p>
  <ion-button color="tertiary" (click)="login(user)">Se Connecter</ion-button>
  <ion-button color="tertiary" id="home-register" fill="clear" (click)="register()">S'inscrire</ion-button>
  <ion-button color="tertiary" fill="clear" (click)="toDashboard()">Dashboard</ion-button>

</ion-content>
