#logo {
    padding: 0 5em;
  
}


#password {
  text-align: right;
}

ion-button {
  margin-top: 25px;
}

#home-register {
  background-color: #EFEEFF;
}

.profile-buttons {
  text-align: center;
  margin-top: 60px;
}

ion-icon {
    margin-right: 10px;
}