@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

ion-list-header{
    position: relative;
    left: 3em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    display: flex;
}

ion-content{
    padding: 0 30px !important;
}