<ion-header no-border>
    <ion-toolbar>
        <ion-title class="ion-text-center">Find My <strong>Friends</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="map" #map style="height:100%;"></div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" (click)="locate()">
            <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="danger" (click)="sendAlert()">
            <ion-icon name="notifications-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
