ion-title{
    margin-top: 100px;
    margin-bottom: 20px;
}


.arrow-back {
    margin-left: 15px;
    margin-top: 28px;
    width: 28px;
    height: 28px;
}

ion-button {
    margin-top: 25px;
}

ion-content {
    --padding-start: 36px;
    --padding-end: 36px;
  }
  