<ion-header no-border>
  <img src="assets/img/logoXS.png" id="logoXS" alt="">
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
    <ion-label>Prénom</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Adresse mail</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Téléphone</ion-label>
  <ion-input></ion-input>
</ion-item>
<div class="profile-buttons">
<p>ENREGISTRER MES INFORMATIONS</p>
<p>MODIFIER LE MOT DE PASSE</p>
<p>CONDITIONS GENERALES</p>
<p>MENTIONS LEGALES</p>
<div class="delete-account"><p>SUPPRIMER LE COMPTE</p></div>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="icon-toolbar">
    <ion-icon class="navbar-icon" name="contacts"></ion-icon>
    <ion-icon class="navbar-icon" name="map"></ion-icon>
    <ion-icon class="navbar-icon" name="person"></ion-icon>
  </div>
  <div class="label-toolbar">
    <ion-label class="navbar-text">Groupes</ion-label>
    <ion-label class="navbar-text">Cartes</ion-label>
    <ion-label class="navbar-text">Profil</ion-label>
  </div>
  </ion-toolbar>
</ion-footer>