<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
    <ion-label>Prénom</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Adresse mail</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Téléphone</ion-label>
  <ion-input></ion-input>
</ion-item>
<div class="profile-buttons">
<ion-button color="light">MES INFORMATIONS</ion-button>
<p id="edit-password"><a (click)="editPassword()">MODIFIER LE MOT DE PASSE</a></p>
<p id="terms-of-use"><a (click)="termsOfUse()">CONDITIONS GENERALES</a></p>
<p id="legal-notice"><a (click)="legalNotice()">MENTIONS LEGALES</a></p>
<ion-button color="light">SUPPRIMER LE COMPTE</ion-button>
<ion-button color="danger" (click)="logout()">Deconnexion</ion-button>
</div>
</ion-content>