<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
    <ion-label>Prénom</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Adresse mail</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Téléphone</ion-label>
  <ion-input></ion-input>
</ion-item>
<div class="profile-buttons">
<p>ENREGISTRER MES INFORMATIONS</p>
<p>MODIFIER LE MOT DE PASSE</p>
<p>CONDITIONS GENERALES</p>
<p>MENTIONS LEGALES</p>
<div class="delete-account"><p>SUPPRIMER LE COMPTE</p></div>
<ion-button color="danger" (click)="logout()">Deconnexion</ion-button>
</div>
</ion-content>