<!--<ion-header>
    <ion-toolbar>
        <img src="assets/img/logoXS.png" id="logoXSHeader" alt="">
    </ion-toolbar>
</ion-header>-->
<ion-content class="ion-padding">
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="groups">
                <ion-icon name="people"></ion-icon>
                <ion-label>Groupes</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="map">
                <ion-icon name="map"></ion-icon>
                <ion-label>Map</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="profile">
                <ion-icon name="person"></ion-icon>
                <ion-label>Profil</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
