<ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="this.navCtrl.back()">
            <ion-icon slot="icon-only" color="primary" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title color="primary">Modifier mon mot de passe</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">

    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm.value)">
        <ion-item>
            <ion-label position="floating">Nouveau mot de passe</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Confirmer mot de passe</ion-label>
            <ion-input type="password" formControlName="checkPassword"></ion-input>
        </ion-item>

        <ion-text color="danger">
            <p class="ion-text-center">{{errorMessage}}</p>
        </ion-text>

        <ion-button color="primary" expand="block" type="submit">Modifier</ion-button>
    </form>

</ion-content>
