<ion-content class="ion-padding">
<ion-item>
    <ion-label>Mot de passe actuel</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Nouveau mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Confirmer mot de passe</ion-label>
  <ion-input type="password" [(ngModel)]="user.password"></ion-input>
</ion-item>
<div class="profile-buttons">
  <ion-button color="light">VALIDER</ion-button>
</div>

</ion-content>
